<div class="row">
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">Actualiza tus datos</h6>
        <form
          class="form p-t-20"
          ngNativeValidator
          #f="ngForm"
          (ngSubmit)="guardar(f)"
        >
          <div class="form-group">
            <label>Nombre</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="ti-user"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                name="nombre"
                required="required"
                [ngModel]="usuario.nombre"
                placeholder="Ingresa tu nombre"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="ti-email"></i>
                </div>
              </div>
              <input
                type="email"
                class="form-control"
                name="email"
                required="required"
                [ngModel]="usuario.email"
                placeholder="Ingresa tu email"
              />
            </div>
          </div>
          <button
            class="btn btn-block btn-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">Actualiza tus datos</h6>

        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150" />
        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150" />

        <input type="file" (change)="seleccionImagen($event.target.files[0])" />
        <br />
        <br />

        <button
          type="submit"
          class="btn btn-block btn-success waves-effect waves-light m-r-10"
          (click)="cambiarImagen()"
          [disabled]="!imagenSubir"
        >
          <i class="fa fa-save"></i>
          Guardar foto
        </button>
      </div>
    </div>
  </div>
</div>
