<h3>{{ leyenda }}</h3>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-primary" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </div>
  <input
    type="number"
    class="form-control"
    aria-label="Amount (to the nearest dollar)"
    #txtProgress
    name="progreso"
    [(ngModel)]="progreso"
    (ngModelChange)="onChangeProgress($event)"
    min="0"
    max="100"
  />
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="cambiarValor(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
