<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Temas</h4>
        <hr />
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li>
              <a
                data-theme="default"
                class="selector default-theme"
                (click)="cambiarColor('default', link1)"
                #link1
              >
                1
              </a>
            </li>
            <li>
              <a
                data-theme="green"
                class="selector green-theme"
                (click)="cambiarColor('green', link2)"
                #link2
              >
                2
              </a>
            </li>
            <li>
              <a
                data-theme="red"
                class="selector red-theme"
                (click)="cambiarColor('red', link3)"
                #link3
              >
                3
              </a>
            </li>
            <li>
              <a
                data-theme="blue"
                class="selector blue-theme"
                (click)="cambiarColor('blue', link4)"
                #link4
              >
                4
              </a>
            </li>
            <li>
              <a
                data-theme="purple"
                class="selector purple-theme"
                (click)="cambiarColor('purple', link5)"
                #link5
              >
                5
              </a>
            </li>
            <li>
              <a
                data-theme="megna"
                class="selector megna-theme"
                (click)="cambiarColor('megna', link6)"
                #link6
              >
                6
              </a>
            </li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li>
              <a
                data-theme="default-dark"
                class="selector default-dark-theme"
                (click)="cambiarColor('default-dark', link7)"
                #link7
              >
                7
              </a>
            </li>
            <li>
              <a
                data-theme="green-dark"
                class="selector green-dark-theme"
                (click)="cambiarColor('green-dark', link8)"
                #link8
              >
                8
              </a>
            </li>
            <li>
              <a
                data-theme="red-dark"
                class="selector red-dark-theme"
                (click)="cambiarColor('red-dark', link9)"
                #link9
              >
                9
              </a>
            </li>
            <li>
              <a
                data-theme="blue-dark"
                class="selector blue-dark-theme"
                (click)="cambiarColor('blue-dark', link10)"
                #link10
              >
                10
              </a>
            </li>
            <li>
              <a
                data-theme="purple-dark"
                class="selector purple-dark-theme"
                (click)="cambiarColor('purple-dark', link11)"
                #link11
              >
                11
              </a>
            </li>
            <li>
              <a
                data-theme="megna-dark"
                class="selector megna-dark-theme"
                (click)="cambiarColor('megna-dark', link12)"
                #link12
              >
                12
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
